* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

body,
html {
    background-color: #111;
  width: 100%;
  height: 100%;
}


.parent {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px; 
  padding-left: 20px; 
  padding-top: 20px;
}

.card {
  height: 300px;
  width: 240px;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
}

.top button img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  border-radius: 10px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}


/* .center{
  background-color: red;
} */

.center h3 {
  font-size: 18px;
  font-weight: 600;
}

.center h3 span {
  font-size: 10px;
  font-weight: 400;
  color: #baaeae;
  margin-left: 8px;
}

.center h2 {
  font-size: 20px;
}

.tag {
  margin-top: 5px;
  display: flex;
  gap: 15px;

}



.center .tag h4 {
  font-size: 14px;
  background-color: rgb(180, 189, 196);
  color: #000000;
  font-weight: 500;
  margin-top: 10px;
  padding: 4px;
  border-radius: 15px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #912c2c;
  padding-top: 15px;
}

.b1 {
  background-color: #dadada;
  border: none;
  padding: 4px;
  border-radius: 15px;
}